{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block body %}
{% load static %}
<div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row breadcrumb_box  align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                            <h2 class="breadcrumb-title">Cart</h2>
                        </div>
                        <div class="col-lg-6  col-md-6 col-sm-6">
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-list text-center text-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active">Cart</li>
                            </ul>
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-wrapper-reveal border-bottom">

        <!-- cart start -->
        <div class="cart-main-area  section-space--ptb_90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                            <div class="table-content table-responsive cart-table-content header-color-gray">
                                <table>
                                    <thead>
                                        <tr class="bg-gray">
                                            <th></th>
                                            <th></th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price"> Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {% for i in carts %}
                                        <tr>
                                            <td></td>
                                            <td class="product-img">
                                                <img src="{{i.item.image.url}}" style="width:100px;">
                                            </td>
                                            <td class="product-name"><a href="#">{{i.title|title}}</a></td>
                                            <td class="product-price"><span class="amount">Rs. {{i.item.price}}</span></td>
                                            <td class="cart-quality">
                                                <div class="quickview-quality quality-height-dec2">
                                                   <a href="{% url 'decrease' i.item.slug %}"> <div class="cart-plus-minus"><div class="dec qtybutton1">-</div> </a>
                                                        <input class="cart-plus-minus-box" type="text" name="qtybutton" value="{{i.quantity}}">
                                                    <a href="{% url 'increase' i.item.slug %}">    
                                                    <div class="inc qtybutton2 ">+</div></div> </a>
                                                </div>
                                            </td>
                                            <td class="price-total">
                                                <span class="amount">{{i.get_total}}</span>
                                            </td>
                                                                          <td class="product-remove">
                                                <a href="{% url 'remove' i.item.slug %}"><i class="icon-cross2"></i></a>
                                            </td>
                                        </tr>
                                            {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                        <div class="shoping-update-area row">
                            <div class="continue-shopping-butotn col-6 mt-30">
                                <a href="{% url 'home' %}" class="btn btn--lg btn--black"><i class="icon-arrow-left"></i> Continue Shopping </a>
                            </div>
                        </div>
                        <div class="cart-buttom-area">
                            <div class="row">
                                {% comment %} <div class="col-lg-6">
                                    <div class="discount-code section-space--mt_60">
                                        <h6 class="mb-30">Coupon Discount</h6>
                                        <p>Enter your coupon code if you have one.</p>
                                        <input type="text" name="name" placeholder="Coupon code">
                                        <button class="coupon-btn btn btn--lg btn--border_1" type="submit">Apply coupon</button>
                                    </div>
                                </div> {% endcomment %}
                                <div class="col-lg-12">
                                    <div class="cart_totals section-space--mt_60 ml-md-auto">
                                        <div class="grand-total-wrap">
                                            <div class="grand-total-content">
                                                <ul>
                                                    <li>Subtotal <span>Rs. {{order.get_totals}}</span></li>
                                                    <li>Total <span>Rs. {{order.get_totals}}</span> </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="grand-btn mt-30">
                                            <a href="#" class="btn--black btn--full text-center btn--lg">Proceed to checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- cart end -->

    </div>

{% endblock body %}