{% load static %}
<!--====================  footer area ====================-->
    <div class="footer-area-wrapper">
        <div class="footer-area section-space--ptb_120">
            <div class="container">
                <div class="row footer-widget-wrapper">
                    <div class="col-lg-4 col-md-4 col-sm-6 footer-widget">
                        <h6 class="footer-widget__title mb-20">Address</h6>
                        <ul class="footer-widget__list">
                            <li><i class="icon_pin"></i> Helendo, Chicago, USA 2018</li>
                            <li> <i class="icon_phone"></i><a href="tel:846677028028" class="hover-style-link">+846677028028</a></li>

                        </ul>
                        <ul class="list footer-social-networks mt-25">

                            <li class="item">
                                <a href="https://twitter.com/" target="_blank" aria-label="Twitter">
                                    <i class="social social_facebook"></i>
                                </a>
                            </li>
                            <li class="item">
                                <a href="https://facebook.com/" target="_blank" aria-label="Facebook">
                                    <i class="social social_twitter"></i>
                                </a>
                            </li>
                            <li class="item">
                                <a href="https://instagram.com/" target="_blank" aria-label="Instagram">
                                    <i class="social social_tumblr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 footer-widget">
                        <h6 class="footer-widget__title mb-20">Help & Information</h6>
                        <ul class="footer-widget__list">
                            <li><a href="#" class="hover-style-link">Help & Contact Us</a></li>
                            <li><a href="#" class="hover-style-link">Returns & Refunds</a></li>
                            <li><a href="#" class="hover-style-link">Online Stores</a></li>
                            <li><a href="#" class="hover-style-link">Terms & Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 footer-widget">
                        <h6 class="footer-widget__title mb-20">About Us</h6>
                        <ul class="footer-widget__list">
                            <li><a href="about-us.html" class="hover-style-link">About Us</a></li>
                            <li><a href="#" class="hover-style-link">What We Do</a></li>
                            <li><a href="#" class="hover-style-link">FAQ Page</a></li>
                            <li><a href="contact-us.html" class="hover-style-link">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 footer-widget">
                        <h6 class="footer-widget__title mb-20">Newsletter</h6>
                        <div class="footer-widget__newsletter mt-30">
                            <input type="text" placeholder="Your email address">
                            <button class="submit-button"><i class="icon-arrow-right"></i></button>
                        </div>
                        <ul class="footer-widget__footer-menu  section-space--mt_60 d-none d-lg-block">
                            <li><a href="#">Term & Condition</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-area section-space--pb_30">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-5 text-center text-md-left">
                        <ul class="footer-widget__footer-menu">
                            <li><a href="#">Term & Condition</a></li>
                            <li><a href="#">Policy</a></li>
                            <li><a href="#">Map</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-2 text-center">
                        <div class="footer-logo">
                            <a href="#"><img src="images/logo/logo.svg" alt="Logo images"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 order-md-3">
                        <div class="footer-bottom-social">
                            <h6 class="title">Follow Us On Social</h6>
                            <ul class="list footer-social-networks ">
                                <li class="item">
                                    <a href="https://twitter.com/" target="_blank" aria-label="Twitter">
                                        <i class="social social_facebook"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://facebook.com/" target="_blank" aria-label="Facebook">
                                        <i class="social social_twitter"></i>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="https://instagram.com/" target="_blank" aria-label="Instagram">
                                        <i class="social social_tumblr"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="copyright-text text-center  section-space--mt_40">&copy; 2020 Helendo. <a  href="https://hasthemes.com/" target="_blank">All Rights Reserved.</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of footer area  ====================-->

    <!--====================  mobile menu overlay ====================-->
    <div class="mobile-menu-overlay" id="mobile-menu-overlay">

        <div class="mobile-menu-overlay__inner">

            <div class="mobile-menu-close-box text-left">
                <span class="mobile-navigation-close-icon" id="mobile-menu-close-trigger"> <i class="icon-cross2"></i></span>
            </div>


            <div class="mobile-menu-overlay__body">
                <div class="offcanvas-menu-header d-md-block d-none">
                    <div class="helendo-language-currency row-flex row section-space--mb_60 ">
                        <div class="widget-language col-md-6">
                            <h6> Language</h6>
                            <ul>
                                <li class="actived"> <a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">Arabric</a></li>
                            </ul>
                        </div>
                        <div class="widget-currency col-md-6">
                            <h6> Currencies</h6>
                            <ul>
                                <li class="actived"><a href="#">USD - US Dollar</a></li>
                                <li><a href="#">Euro</a></li>
                                <li><a href="#">Pround</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav class="offcanvas-navigation">
                    <ul>
                        <li class="has-children">
                            <a href="#">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html"><span>Home V1 – Default</span></a></li>
                                <li><a href="index-7.html"><span>Home V2 – Boxed</span></a></li>
                                <li><a href="index-8.html"><span>Home V3 – Carousel</span></a></li>
                                <li><a href="index-11.html"><span>Home V4 – Categories</span></a></li>
                                <li><a href="index-10.html"><span>Home V5 – Collection</span></a></li>
                                <li><a href="index-5.html"><span>Home V6 – Full Width</span></a></li>
                                <li><a href="index-4.html"><span>Home V7 – Left Sidebar</span></a></li>
                                <li><a href="index-3.html"><span>Home V8 – Metro</span></a></li>
                                <li><a href="index-2.html"><span>Home V9 – Minimal</span></a></li>
                                <li><a href="index-6.html"><span>Home V10 – Parallax</span></a></li>
                                <li><a href="index-12.html"><span>Home V11 – Video Feature</span></a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Shop</a>
                            <ul class="sub-menu">
                                <li class="has-children">
                                    <a href="#"><span>Shop Pages</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="shop-3-column.html"><span>Shop 3 Columns</span></a></li>
                                        <li><a href="shop-4-column.html"><span>Shop 4 Columns</span></a></li>
                                        <li><a href="shop-5-column.html"><span>Shop 5 Columns</span></a></li>
                                        <li><a href="shop-6-column.html"><span>Shop 6 Columns</span></a></li>
                                        <li><a href="shop-categories.html"><span>Shop Categories</span></a></li>
                                        <li><a href="shop-carousel.html"><span>Shop Carousel</span></a></li>
                                        <li><a href="shop-with-boder.html"><span>Shop With Border</span></a></li>
                                        <li><a href="shop-left-sidebar.html"><span>Shop Left Sidebar</span></a></li>
                                        <li><a href="shop-right-sidebar.html"><span>Shop Right Sidebar</span></a></li>
                                        <li><a href="shop-without-gutter.html"><span>Shop Without Gutter</span></a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#"><span>Product Pages</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="product-details.html"><span>Default</span></a></li>
                                        <li><a href="product-simple.html"><span>Simple</span></a></li>
                                        <li><a href="product-variable.html"><span>Variable</span></a></li>
                                        <li><a href="product-groupped.html"><span>Groupped</span></a></li>
                                        <li><a href="product-on-sale.html"><span>On Sale</span></a></li>
                                        <li><a href="product-out-of-stock.html"><span>Out Of Stock</span></a></li>
                                        <li><a href="product-affiliate.html"><span>Affiliate</span></a></li>
                                        <li><a href="product-image-swatches.html"><span>Image Swatches</span></a></li>
                                        <li><a href="product-countdown-timer.html"><span>With Countdown Timer</span></a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#"><span>Other Pages</span></a>
                                    <ul class="sub-menu">
                                        <li><a href="cart.html"><span>Cart</span></a></li>
                                        <li><a href="checkout.html"><span>Checkout</span></a></li>
                                        <li><a href="my-account.html"><span>My Account</span></a></li>
                                        <li><a href="wishlist.html"><span>Wishlist</span></a></li>
                                        <li><a href="order-tracking.html"><span>Order Tracking</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="about-us.html"><span>About Us</span></a></li>
                                <li><a href="contact-us.html"><span>Contact</span></a></li>
                                <li><a href="coming-soon.html"><span>Coming Soon</span></a></li>
                                <li><a href="404-page.html"><span>404 Page</span></a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="javascript:void(0)">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog-grid.html"><span>Blog Grid</span></a></li>
                                <li><a href="blog-listing.html"><span>Blog List</span></a></li>
                                <li><a href="blog-masonry.html"><span>Blog Masonry</span></a></li>
                                <li><a href="blog-left-sidebar.html"><span>Blog Sidebar</span></a></li>
                                <li><a href="single-blog-post.html"><span>Single Post V1</span></a></li>
                                <li><a href="single-blog-post-2.html"><span>Single Post V2</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>

                <div class="mobile-menu-contact-info section-space--mt_60">
                    <h6>Contact Us</h6>
                    <p>69 Halsey St, Ny 10002, New York, United States <br>support.center@unero.co <br>(0091) 8547 632521</p>
                </div>

                <div class="mobile-menu-social-share section-space--mt_60">
                    <h6>Follow US On Socials</h6>
                    <ul class="social-share">
                        <li><a href="#"><i class="social social_facebook"></i></a></li>
                        <li><a href="#"><i class="social social_twitter"></i></a></li>
                        <li><a href="#"><i class="social social_googleplus"></i></a></li>
                        <li><a href="#"><i class="social social_linkedin"></i></a></li>
                        <li><a href="#"><i class="social social_pinterest"></i></a></li>
                    </ul>
                </div>


            </div>


        </div>


    </div>
    <!--====================  End of mobile menu overlay  ====================-->



    <!--  offcanvas Minicart Start -->
    <div class="offcanvas-minicart_wrapper" id="miniCart">
        <div class="offcanvas-menu-inner">
            <div class="close-btn-box">
                <a href="#" class="btn-close"><i class="icon-cross2"></i></a>
            </div>
            <div class="minicart-content">
                <ul class="minicart-list">
                    <li class="minicart-product">
                        <a class="product-item_remove" href="javascript:void(0)"><i class="icon-cross2"></i></a>
                        <a class="product-item_img">
                            <img class="img-fluid" src="images/product/small/cart-01.jpg" alt="Product Image">
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title" href="shop-fullwidth.html">Plant pots</a>
                            <label>Qty : <span>1</span></label>
                            <label class="product-item_quantity">Price: <span> $20.00</span></label>
                        </div>
                    </li>
                    <li class="minicart-product">
                        <a class="product-item_remove" href="javascript:void(0)"><i class="icon-cross2"></i></a>
                        <a class="product-item_img">
                            <img class="img-fluid" src="images/product/small/cart-02.jpg" alt="Product Image">
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title" href="shop-fullwidth.html">Teapot with black tea</a>
                            <label>Qty : <span>1</span></label>
                            <label class="product-item_quantity">Price: <span> $20.00</span></label>
                        </div>
                    </li>
                    <li class="minicart-product">
                        <a class="product-item_remove" href="javascript:void(0)"><i class="icon-cross2"></i></a>
                        <a class="product-item_img">
                            <img class="img-fluid" src="images/product/small/cart-03.jpg" alt="Product Image">
                        </a>
                        <div class="product-item_content">
                            <a class="product-item_title" href="shop-fullwidth.html">Simple Chair</a>
                            <label>Qty : <span>1</span></label>
                            <label class="product-item_quantity">Price: <span> $20.00</span></label>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="minicart-item_total">
                <span class="font-weight--reguler">Subtotal:</span>
                <span class="ammount font-weight--reguler">$60.00</span>
            </div>
            <div class="minicart-btn_area">
                <a href="cart.html" class="btn btn--full btn--border_1">View cart</a>
            </div>
            <div class="minicart-btn_area">
                <a href="checkout.html" class="btn btn--full btn--black">Checkout</a>
            </div>
        </div>
    </div>
    <!--  offcanvas Minicart End -->


    <!--====================  search overlay ====================-->
    <div class="search-overlay" id="search-overlay">

        <div class="search-overlay__header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-8">
                        <div class="search-title">
                            <h4 class="font-weight--normal">Search</h4>
                        </div>
                    </div>
                    <div class="col-md-6 ml-auto col-4">
                        <!-- search content -->
                        <div class="search-content text-right">
                            <span class="mobile-navigation-close-icon" id="search-close-trigger"><i class="icon-cross"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-overlay__inner">
            <div class="search-overlay__body">
                <div class="search-overlay__form">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9 ml-auto mr-auto">
                                <form action="#">
                                    <div class="product-cats section-space--mb_60 text-center">
                                        <label> <input type="radio" name="product_cat" value="" checked="checked"> <span class="line-hover">All</span> </label>
                                        <label> <input type="radio" name="product_cat" value="decoration"> <span class="line-hover">Decoration</span> </label>
                                        <label> <input type="radio" name="product_cat" value="furniture"> <span class="line-hover">Furniture</span> </label>
                                        <label> <input type="radio" name="product_cat" value="table"> <span class="line-hover">Table</span> </label> <label> <input type="radio" name="product_cat" value="chair"> <span class="line-hover">Chair</span> </label>
                                    </div>
                                    <div class="search-fields">
                                        <input type="text" placeholder="Search">
                                        <button class="submit-button"><i class="icon-magnifier"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--====================  End of search overlay  ====================-->


    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top icon-arrow-up"></i>
        <i class="arrow-bottom icon-arrow-up"></i>
    </a>
    <!--====================  End of scroll top  ====================-->



    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %} "></script>

    <!-- jQuery JS -->
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %} "></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'js/vendor/bootstrap.min.js' %} "></script>


    <!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->


    <script src="{% static 'js/plugins/plugins.js' %} "></script>


    <!-- Main JS -->
    <script src="{% static 'js/main.js' %} "></script>


</body>


<!-- Mirrored from live.hasthemes.com/html/7/helendo-preview/helendo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Feb 2021 08:17:27 GMT -->
</html>