*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

a{text-decoration: none !important; color: #000;}

h1,h2,h3,h4,h5,h6,p,a,span {
    font-family: 'Montserrat', sans-serif;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0 !important;
    list-style-type: none ;
}
ul li{
    list-style-type: none !important;
}

.text-white {
    color: #fff!important;
    text-align: center;
}
.cart-section {
    color: #000;
    position: relative;
    z-index: 1;
   
}
.cart-section h4:after {
    border-top: 3px solid #000000;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 90%;
    left: -100px;
    bottom: 0;
    width: 300px;
    z-index: -1;
}

/*------navbar-section------*/
.dropdown-menu {
    position: absolute;
    top: 103%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
   margin: 10px !important;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.main-icon-section .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0px !important;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.item-dro2 {
    letter-spacing: 1px;
}
.btn-secondary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
.btn-secondary:hover{
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
.main-icon-section .btn-secondary:focus{
    outline: none !important; 
    border: none !important;  
}

.navbar-section {
    background: #000000 !important;
}
.navbar-section .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color:#000000 !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    letter-spacing: 4px;
}
.nav-item a {
    color: #ffffff !important;
    font-size: 14px;
}

.main-icon-section ul li {
    display: inline;
    letter-spacing: 15px;
}

.main-icon-section ul li a {
    color: #ffffff;
    font-size: 14px;
}

.main-search-bar  {
     border-right: 1px solid #ffffff;
    font-size: 20px;
    margin-right: 20px;
}

/*------slider-section------*/

.slider-section .slider-section {
   padding-top: 15px;
}
.slider-section .banner-background {
    background: rgb(180, 110, 5) !important;
}
.carousel-caption {
    position: absolute;
    right: 50%;
    bottom: 40px;
    left: -17px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.slider-section .carousel-caption h2 {
    font-size: 66px;
    font-weight: 600;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Playfair Display', serif !important;
}

.slider-section .btn-primary {
    color: #fff;
    background-color: #4b6952 !important;
    border-color: #4b6952 !important;
}

.modern {
    color: blue;
}

.footwear {
    color: #000000;
}

.ALL-CATEGORIS {
    padding-top: 15px;
}

.images-with-border {
    border: 1px solid #d0d0d0;
    padding: 10px;
}

.main-vvv {
    border: 1px solid #d0d0d0 !important;  
}

.main-vvv h2 {
    color: #000000;
    font-weight: 700;
}
.main-vvv p {
    color: blue;
}
.ALL-CATEGORIS .col-lg-3 {
    padding-right: 0px !important;
    padding-left: 0px !important;
    
}

.images-text .span {
text-align: center;
}
.images-with-border-2 {
    padding: 20px;
    padding-top: 70px;
}
.images-with-border-2 h2 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
    .row {
         margin-right: 0px !important;
        margin-left: 0px !important;
    }
   
    .images-with-border .span {
        text-align: center;
    }

      header {
        margin-bottom: 40px;
      }
      
      .slide2 {
        font-size: 50px;
        text-align: center;
        border: 1px solid #d0d0d0;
        padding: 20px;
      }

      .shoes-slider {
          margin-top: 15px;
      }

      .owl-carousel-section {
        margin-top: 15px;
      }

      .owl-carousel-section .col-lg-6 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 5px !important;
        padding-left: 5px !important;
      }

      .item-box{
        border: 1px solid #d0d0d0;
        padding: 20px; 
      }

      .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        background: 0 0;
        color: inherit;
        border: none;
        padding: 0!important;
        font: inherit;
        display: none !important;
    }


    .item-box {
        position: relative;
    }

    .text-position {
        position: absolute;
        bottom: -5%;
        display: inline-flex;
        height: 90px;
        border-radius: 2px;
        align-items: center;
        justify-content: space-between;
        padding: 15px 15px;
        width: 90%;
        text-decoration: none;
    }
    .text-position-2 {
        position: relative;
        bottom: 1%;
        display: inline-flex;
        height: 90px;
        border-radius: 2px;
        align-items: center;
        justify-content: space-between;
        padding: 15px 15px;
        width: 90%;
        text-decoration: none;
    }
    .rupees {
    padding: 5px 5px;
    width: 50%;
    }

    .rupees ul li {
        display: inline;
    }

    .fa-rupeee {
        float: right;
        margin-top: -25px;
    }
    .rupees i {
        font-size: 13px;
        position: relative;
        top: 5px;
        font-weight: 600;
        color: #7d7c7c;
    }

    .Price-main {
        padding-left: 10px;
      
    }

    .rupees .price-tag {
        margin-top: 90px;
    }

    .Second-position {
        position: absolute;
        top: 1px;
        right: 15px;
        top: 10px;
    }

    .Second-position span {
      color: red;
    }

    .product-name {
        color: #2b2a2a;
        font-weight: 500;
        font-size: 15px;
    }

    .foot-wear-2 {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    }

    .price-tag {
        color: #2b2a2a;
        font-size: 15px;
    }

    .fa-rupeee {
        color: #000000;
        font-size: 14px;
    }



    .line-overtr {
        position: relative;
      }
      .line-overtr:before {
          color: rgb(238, 56, 141);
        position: absolute;
        content: "";
        left: -7px;
        top: 50%;
        right: 0;
        border-top: 3px solid;
        line-height: 10px;
        border-color: inherit;
        -webkit-transform:rotate(-45deg);
        -moz-transform:rotate(-45deg);
        -ms-transform:rotate(-45deg);
        -o-transform:rotate(-45deg);
        transform:rotate(-45deg);
        width: 35px;
      }


      .sub-head {
          width: 100%;
          display: inline-flex;
          justify-content: center;
          border: 1px solid #d0d0d0;
          padding: 20px;
      }

      .carousel-wrap {
        width: 100%;
        position: relative;
      }
      
      /* fix blank or flashing items on carousel */
      .owl-carousel .item {
        position: relative;
        z-index: 100; 
        -webkit-backface-visibility: hidden; 
      }
      
      /* end fix */
      .owl-nav > div {
        margin-top: -26px;
        position: absolute;
        top: 50%;
        color: #cdcbcd;
      }
      
      .owl-nav i {
        font-size: 52px;
      }
      
      .owl-nav .owl-prev {
        left: -30px;
      }
      
      .owl-nav .owl-next {
        right: -30px;
      }

      .sub-caresoul .item {
          border: 1px solid #d0d0d0;
          padding: 10px;
          position: relative;
      }

      .sub-caresoul .item:hover {
          background-color: #000000;
          color: #ffffff !important;
      }
      .sub-caresoul .item a:hover {
        background-color: #000000;
        color: #ffffff;
        text-decoration: none;
    }
      .Sub-Cat {
          position: absolute;
          top: 0px;
          padding-left: 70px;
      }

      .Sub-Cat span {
          background-color: #000000;
          color: #ffffff;
          border-radius: 50px;
          padding: 3px;
          font-size: 10px;
      }
      .Sub-Cat span:hover{
        background-color: #ffffff;
        color:#000000;
        border-radius: 50px;
        padding: 3px;
        font-size: 10px;
    }
      .sub-category-section {
          margin-top: 15px;
      }

      .item h6 {
          text-align: center;
          font-size: 12px;
          color: #000000;
          font-weight: 700;
      }

      .item h6:hover{
        text-align: center;
        font-size: 12px;
        color:#ffffff;
        font-weight: 700;
    }

    .item-109 {
        font-size: 10px;
        color: #000000;
        font-weight: 600;
    }

    .pro {
        font-size: 10px;
    }

    .foot-w {
        font-size: 15px;
        color: #000000;
        font-weight: 800;
    }

    .sub-cste2 {
        font-size: 13px;
    }

    .sub-head-text {
        padding-left: 20px;
    }


    .large-sub {
        border: 1px solid #d0d0d0;
    }

.large-sub {
    position: relative;
}

    .text-position-sub {
        bottom: 1%;
        display: inline-flex;
        height: 90px;
        border-radius: 2px;
        align-items: center;
        justify-content: space-between;
        padding: 15px 15px;
        width: 100%;
        text-decoration: none;
    }


    .SUB-CATEGORIES-large .col-lg-3 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 0px !important;
        padding-left: 0px !important; 
    }

  .ul-sub  {
        padding-bottom: 8px;
      }

    .ul-sub ul li{
        display: inline-block;
    } 

    .ul-sub ul li a {
      color: gray;
      font-size: 10px;
    }

    .SUB-CATEGORIES-large h4 {
        font-size: 15px;
        color: #000000;
        font-weight: 600;
        padding-top: 10px;
    }
    .main-home {
        padding-left: 15px;
    }

    .custom-select  {
        border: 1px solid #ffffff !important;
        border-bottom: 1px solid !important;
    }



/*------products-page----------*/

.products-page .col-lg-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
  }


.products-page {
    margin-top: 15px;
}

.products-images {
    border: 1px solid #d0d0d0;
}
.products-small {
    padding-bottom: 30px;
    border-bottom: 1px solid #d0d0d0;
}

.star-section {
    float: right;
    padding-top: 20px;
}

.star-section i {
    color: #ea9b05;
}

.mrp-2 {
    color: gray;
    font-size: 15px;
}

.mrp-price{
    padding: 20px;
}

.mrp-price i {
    font-size: 12px;
}

.second-mrp {
    font-weight: 900;
    text-decoration: line-through;
}
.second-mrp-2 {
    font-weight: 900;
    color: #0b8c0b;
}
.second-mrp-3 {
    font-weight: 900;
}

.short-price h5 {
    color: gray;
    font-size: 17px;
}

.short-price ul li {
    list-style: none;
    font-size: 12px;
   padding-left: 20px;
   line-height: 2;
}

.short-price {
    padding-bottom: 30px;
    border-bottom: 1px solid #d0d0d0;
}

.recipt {
    padding-left: 20px;
    width: 100%;
    padding-top: 30px;
    display: inline-flex;
    padding-bottom: 30px;
    border-bottom: 1px solid #d0d0d0;
}

.next-images h6 {
    margin-top: 5px;
    font-size: 15px;
    color: #000000;
    font-weight: 300;
}


.color-section ul{
    padding-top: 10px;
    padding-left: 80px;
}


.color-section ul li {
    display: inline-block;
}

.color-section {
    padding-top: 20px;
    padding-bottom: 20px;
}


.color-section .red {
    background-color: #d20a0a;
    height: 30px;
    width: 30px;
    border-radius: 10%;
    cursor: pointer;
}
.color-section .black {
    background-color: #000000;
    height: 30px;
    width: 30px;
    border-radius: 10%;
    cursor: pointer;
}

.color-section .yellow {
    background-color: #dcab19;
    height: 30px;
    width: 30px;
    border-radius: 10%;
    cursor: pointer;
}

.color-section .green {
    background-color: #03771d;
    height: 30px;
    width: 30px;
    border-radius: 10%;
    cursor: pointer;
}

.color-section .gray {
    background-color: #646f79;
    height: 30px;
    width: 30px;
    border-radius: 10%;
    cursor: pointer;
}

.size-section {
    display: inline-flex;
    width: 90%;
    justify-content: space-between;
}

.size-2 {
    border-bottom: 5px solid #d0d0d0;
}

.size-detais ul li {
   display: inline-block;
   border: 1px solid #d0d0d0;
  
 
   padding: 10px;
  padding-top: 7px;
  padding-bottom: 5px;
  font-size: 10px;
  margin: 5px;
}

.size-detais ul li a {
    color: #000000;
    text-decoration: none;
}

.size-detais {
    padding-top: 20px;
    padding-left: 90px;
}

/* skin 7 */

.skin-7 .num-in {
    float: left;
    width: 195px;
}

.skin-7 input.in-num {
	font-family: 'HelveticaNeueCyr-Roman';
	font-size: 14px;
	float: left;
	height: 32px;
	width: 83px;
	border-left: 1px solid #a4a4a3;
	border-right: 1px solid #a4a4a3;
	background-color: #fff;
	text-align: center;
}

.skin-7 .num-in span  {
	font-size: 20px;
	text-align: center;
	display: block;
	width: 46px;
	float: left;
	height: 32px;
	background-color: #f4f4f6;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
    transition: all 0.3s;
    border:1px solid rgb(164, 164, 163);
}

.skin-7 .num-in span:hover {
	background-color: #d7d7d8;
}

.skin-7 .num-in input {
  border: none;
	float: left;
	width: 44px;
	line-height: 34px;
	text-align: center;
    font-family: 'helveticaneuecyrbold';
    border:1px solid rgb(164, 164, 163);
}

/* / skin 7 */
.add-to-cart {
    padding-top: 30px;
   display: inline-flex;
   width: 100%;
   justify-content:space-between;
}


.card-button-2 ul li {
    display: inline-block;
    border: 1px solid;
    padding: 7px;
    height: 35px;
    width: 35px;
}
.login-dark {
    background: linear-gradient(145deg, #575b5d, #252b2d);
}

.card-button-2 i {
  color: #000000;
}
.quantity-section {
    color: gray;
    font-size: 12px;
    margin-top: 8px;
}

.deliver {
    padding-top: 30px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.adderes {
    border-right: 1px solid;
}

.deliver-images {
    padding-left: 15px;
}

.mob {
    padding-left: 60px;
}


/* */

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .panel-default>.panel-heading a {
    display: block;
    padding: 8px 4px;
}
  
  .panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
  }
  
  .panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #eee;
  }
  
  .panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .accordions {
      padding-top: 10px;
  }
.accordions .panel-title a {
   font-size: 18px;
   text-decoration: none;
   color:#000000;
   border-bottom: 1px solid gray;
}

.panel-group {
    padding-top: 10px;
}

.panel-body {
   padding: 15px;
}

.cart-section {
    display: inline-flex;
   
    justify-content: space-between;
}



.delete-section {
    display: inline-flex;
}
.cart-qty {
    padding-top: 8px;
    font-size: 10px !important;
}
.delete-section-2 i {
    color: red;
}

.sub-head-images img {
    height: 50px;
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    padding-left: 0px !important;
}
/*------footer-section----------*/
   .footer-section {
       margin-top: 20px;
       background-color: #000000;
       padding-top: 20px;
   }
    .copy-right p {
        color: #ffffff;
    }
    .navigation-bar ul li {
       display: inline-block;
    } 
    .navigation-bar ul li a {
        color: #ffffff;
        text-decoration: none;
        padding: 10px;
    }
    .social-section ul li {
        display: inline-block;
    }

    .social-section ul li a {
        color: #ffffff;
       letter-spacing: 10px;
    }

  
    .footer-whats {
        border-right: 1px solid #ffffff;
    }

    .fa-share-alt {
        margin-left: 5px;
    }

.foot-posi {
    position: relative;
}
.shop-now-position {
    position: absolute;
    top: 60%;
    text-align: center;
   right: 170px;

}
.foot-posi img {
    width: 100%;
}
.shop-now-position h6 {
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 4px;
}
.shop-now-position h3 {
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 5px;
}
.shop-now-position button {
    color: #000000;
    background: #ffffff;
    border-color: #ffffff;
    letter-spacing: 3px;
}
.backend-section img {
  width: 70px;
}
.pencil {
    border-right: 1px solid gray;
    letter-spacing: 7px;
}
.back-mord {
    color: blue;
    font-size: 10px;
}

.got-2 {
    font-weight: 600;
}

.modern-cvv {
    color:#000000;
    font-size: 13px;
}

.backend-section {
    padding-top: 20px;
    padding-bottom: 50px;
    background: gray;
}
.backend-background {
    padding: 10px;
    background: #ffffff;
}
.nav-pills .nav-link {
    border-radius: .25rem;
    background: #ffffff;
    margin: 4px;
}

.cart-section-w {
    background: gray;
}

.cart-back {
    background: #ffffff;
    padding: 20px;
}

.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-left: 10px !important;
    margin-right: 20px !important;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  .color-section-3 {
    position: relative;
    left: 145px;
  }
  .color-section-3 ul li {
    list-style-type: none;
    height: 30px;
    width: 30px;
    border-radius: 20%;
    background: black;
    cursor: pointer;
    position: relative;
    left: 60px;
  }
.color-section-3 span {
    position: relative;
    top: 27px;
    right: 140px;
    font-size: 20px;
}

.fa-plus {
 color: #504d4d !important; 
 font-size: 14px;
}

.fa-minus {
    color:  #504d4d !important; 
    font-size: 14px;
   }

.modal-footer .btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .custom-form {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
 
    border-radius: 4px;
  }
  .custom-form .btn-primary {
    background-color: #8e44ad;
    border-color: #8e44ad;
  }
  .custom-form .form-group {
    position: relative;
    padding-top: 16px;
    margin-bottom: 16px;
  }
  .custom-form .form-group .animated-label {
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    font-weight: 300;
    opacity: 0.5;
    cursor: text;
    transition: 0.2s ease all;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .custom-form .form-group .animated-label:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 2px;
    width: 10px;
    visibility: hidden;
    background-color: #8e44ad;
    transition: 0.2s ease all;
  }
  .custom-form .form-group.not-empty .animated-label {
    top: 0;
    font-size: 12px;
  }
  .custom-form .form-group .form-control {
    position: relative;
    z-index: 1;
    border-radius: 0;
    border-width: 0 0 1px;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    height: auto;
    padding: 3px 0 5px;
  }
  .custom-form .form-group .form-control:focus {
    box-shadow: none;
    border-bottom-color: rgba(0, 0, 0, 0.12);
  }
  .custom-form .form-group .form-control:focus ~ .animated-label {
    top: 0;
    opacity: 1;
    color: #8e44ad;
    font-size: 12px;
  }
  .custom-form .form-group .form-control:focus ~ .animated-label:after {
    visibility: visible;
    width: 100%;
    left: 0;
  }
  

.back-span {
    background: red;
    height: 50px;
    width: 50px;
}
.alag {
    left: 0px !important;
}
.alag-2 {
    left: -23px !important;
}
.prod_slider .owl-item img {
    height: 100px;
    width: 100px !important;
}
.mera-form .form-control {
    display: block;
    width:80px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #fbfcfd;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-bottom: 1px solid black;
}
.modal-body .form-check {
    padding-left: 8px !important;
}
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
}

.nav-pills a {
   color:#000000
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #212529;
    background-color: #ffffff;
    
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 0px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #000000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}
    .footer-section {
        position: absolute;
        width: 100%;
        bottom: 0px;
    }
    .cart-back {
        height: 500px;
        border-bottom: 2px #000 solid;
        overflow-y: scroll;
    }
    /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000; 
  }