{% load static %}
<!-- footer-->
    <section class="footer-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="copy-right">
                        <p>Copyright @ GayatriRam Enterprises</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="navigation-bar">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Policies</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="social-section">
                        <ul>
                            <li><a href="#"><i class="fas fa-paste"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="footer-whats"><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                            <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="debit-card">
                        <img src="{% static 'images/master-card.png' %}" alt="">
                        <img src="{% static 'images/master-card.png' %}" alt="">
                        <img src="{% static 'images/master-card.png' %}" alt="">
                        <img src="{% static 'images/master-card.png' %}" alt="">
                        <img src="{% static 'images/master-card.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/custom2.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>