<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Tridotshop</title>
</head>

<body>
    <!-- navbar-section -->
    <section class="navbar-section navbar-dark bg-dark">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index.html">DEMO LOGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Men
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Women
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kitchen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home Improvement</a>
                        </li>
                    </ul>

                    <div class="main-icon-section">
                        <ul>
                            <li class="dropdown show">
                                <button class="btn btn-secondary" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item item-dro2" href="login.html">Login</a>
                                    <a class="dropdown-item item-dro2" href="register.html">Register</a>
                                </div>
                            </li>
                            <li class="main-search-bar"><a href=""><i class="fas fa-search-minus"></i></a></li>
                            <li><a href=""><i class="fas fa-book"></i></a></li>
                            <li><a href=""><i class="fas fa-shopping-bag"></i></a></li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
    </section>

    <!-- slider-section -->
    <section class="slider-section mt-3">
        <div class="container-fluid">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="banner-background">
                            <div class="carousel-caption d-none d-md-block">
                                <p class="modern">MODERN COMFORTABLE FOOTWEAR</p>
                                <h2>I Got Shoe.</h2>
                                <p class="footwear">MODERN COMFORTABLE FOOTWEAR <br>
                                    FOR WOMEN CCVCVC CCB BGHG</p>
                                <button type="button" class="btn btn-primary">SHOP NOW</button>
                            </div>
                        </div>
                        <img class="d-block w-100" src="images/slider1jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="images/slider1jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="modern">MODERN COMFORTABLE FOOTWEAR</p>
                            <h2>I Got Shoe.</h2>
                            <p class="footwear">MODERN COMFORTABLE FOOTWEAR <br>
                                FOR WOMEN CCVCVC CCB BGHG</p>
                            <button type="button" class="btn btn-primary">SHOP NOW</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="images/slider1jpg" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <p class="modern">MODERN COMFORTABLE FOOTWEAR</p>
                            <h2>I Got Shoe.</h2>
                            <p class="footwear">MODERN COMFORTABLE FOOTWEAR <br>
                                FOR WOMEN CCVCVC CCB BGHG</p>
                            <button type="button" class="btn btn-primary">SHOP NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--ALL-CATEGORIS--->
    <section class="ALL-CATEGORIS">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-6 main-vvv">
                    <div class="images-with-border-2">
                        <p>EXPLORE</p>
                        <h2 class="all-cet">ALL <br>CATEGORIS</h2>
                        <span>CLICK TO EXPLORE THEM</span>
                        <span><i class="fas fa-arrow-right"></i></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="images-with-border text-center">
                        <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                        <span>TOP OFFERS</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="images-with-border text-center">
                        <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                        <span>CATEGORY NAME</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="images-with-border text-center">
                        <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                        <span>CATEGORY NAME</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="images-with-border text-center">
                        <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                        <span>CATEGORY NAME</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="images-with-border text-center">
                        <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                        <span>CATEGORY NAME</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="images-with-border text-center">
                        <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                        <span>CATEGORY NAME</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="images-with-border text-center">
                        <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                        <span>CATEGORY NAME</span>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <section class="owl-carousel-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 d-block d-md-none">
                    <div class="foot-posi">
                        <img src="images/footwears.jpeg" class="img-fluid" alt="Responsive image">
                        <div class="shop-now-position text-center">
                            <h6>SHOP NOW</h6>
                            <h3>FOOTWARE</h3>
                            <button type="button" class="btn btn-primary">EXPLORE ALL</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="owl-carousel" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="owl-carousel" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 d-none d-md-block">
                    <div class="foot-posi">
                        <img src="images/footwears.jpeg" class="img-fluid" alt="Responsive image">
                        <div class="shop-now-position text-center">
                            <h6>SHOP NOW</h6>
                            <h3>FOOTWARE</h3>
                            <button type="button" class="btn btn-primary">EXPLORE ALL</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="owl-carousel-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 d-block d-md-none">
                    <div class="foot-posi">
                        <img src="images/footwears.jpeg" class="img-fluid" alt="Responsive image">
                        <div class="shop-now-position text-center">
                            <h6>SHOP NOW</h6>
                            <h3>FOOTWARE</h3>
                            <button type="button" class="btn btn-primary">EXPLORE ALL</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-md-block">
                    <div class="foot-posi">
                        <img src="images/footwears.jpeg" class="img-fluid" alt="Responsive image">
                        <div class="shop-now-position text-center">
                            <h6>SHOP NOW</h6>
                            <h3>FOOTWARE</h3>
                            <button type="button" class="btn btn-primary">EXPLORE ALL</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="owl-carousel" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="owl-carousel" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-box">
                                <img src="images/trans.png" class="img-fluid" alt="Responsive image">
                                <div class="text-position">
                                    <span class="foot-wear-2">
                                        FOOTWARE<br>
                                        <span class="product-name">product name</span>
                                    </span>

                                    <span class="rupees">
                                        <ul>
                                            <span class="price-tag">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                <span class="line-overtr">299</span> <br> <span
                                                    class="Price-main">Price</span>
                                            </span>
                                            <span class="fa-rupeee">
                                                <li><i class="fas fa-rupee-sign"></i></li>
                                                299 <br> <span class="Price-main">Price</span>
                                            </span>
                                        </ul>
                                    </span>
                                </div>
                                <div class="Second-position">
                                    <span>-43%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
              
            </div>
        </div>
    </section>

    <!-- footer-->
    <section class="footer-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="copy-right">
                        <p>Copyright @ GayatriRam Enterprises</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="navigation-bar">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Policies</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="social-section">
                        <ul>
                            <li><a href="#"><i class="fas fa-paste"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="footer-whats"><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                            <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="debit-card">
                        <img src="images/master-card.png" alt="">
                        <img src="images/master-card.png" alt="">
                        <img src="images/master-card.png" alt="">
                        <img src="images/master-card.png" alt="">
                        <img src="images/master-card.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>